.confirmAddChild,
.confirmAddItem {
  position: absolute;
  background-color: var(--color-white);
}
.confirmAddChild {
  height: 100%;
  width: 436px;
  top: 0;
  right: 0;

  bottom: 2.32%;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.confirmAddItem {
  height: 100%;
  width: 436px;
  top: 0.12%;
  right: 8.72%;
  bottom: 0;
  left: 1.61%;
}

.n20000,
.total {
  position: absolute;
  width: 28.44%;
  top: 40.17%;
  left: 12.16%;
  font-weight: 300;
  display: inline-block;
}
.n20000,
.total {
  height: 2.44%;
  width: 18.58%;
  top: 81.07%;
  left: 63.26%;
  font-weight: 500;
  color: var(--color-darkslategray-200);
}
.itemsInCart {
  position: relative;
  left: 12.16%;
  top: 4%;
  width: 40%;
  font-weight: 300;
  display: inline-block;
}
.total {
  width: 10.78%;
  left: 15.09%;
  color: var(--color-gray-100);
}
.confirmAddInner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-sandybrown);
  position: absolute;
  height: 7.69%;
  width: 68.81%;
  top: 88.03%;
  right: 18.17%;
  bottom: 4.27%;
  left: 13.03%;
  border-radius: var(--br-3xs);
}
.confirmAddInner1 {
  border: 0;
  padding: 0;
  background-color: var(--color-darkgray-200);
  position: absolute;
  height: 7.69%;
  width: 68.81%;
  top: 88.03%;
  right: 18.17%;
  bottom: 4.27%;
  left: 13.03%;
  border-radius: var(--br-3xs);
}
.makePayment {
  position: absolute;
  height: 2.69%;
  width: 100%;
  top: 20%;
  left: 0%;
  font-size: var(--font-size-7xl);
  display: inline-block;
  color: var(--color-white);
  text-align: center;
}
.confirm {
  font-weight: 500;
}
.address {
  font-weight: 300;
}
.confirmAddress {
  position: relative;
  height: 4.4%;
  width: 50%;
  top: 0.61%;
  left: 10%;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  display: inline-block;
}
.lineDiv {
  position: absolute;
  height: 0.12%;
  width: 77.06%;
  top: 78.69%;
  right: 15.3%;
  bottom: 21.18%;
  left: 7.64%;
  border-top: 1px dashed var(--color-darkgray-200);
  box-sizing: border-box;
}
.confirmAddChild1,
.rectangleInput {
  background-color: var(--color-gainsboro-200);
  position: relative;
  height: 14.76%;
  width: 58.72%;
  top: 1%;
  right: 16.51%;
  bottom: 80.83%;
  left: 32.77%;
  box-sizing: border-box;
}
.confirmAddChild1 {
  top: 0.5%;
  bottom: 74.85%;
}
.lagos,
.prestonEstateLekki,
.street,
.prestonEstateLekki1 {
  position: absolute;
  width: 56.88%;
  top: 14.77%;
  left: 26.38%;
  font-weight: 300;
  display: inline-block;
}
.lagos,
.street {
  width: 11.47%;
  top: 20.76%;
  left: 26.83%;
}
.street {
  width: 11.7%;
  top: 17.5%;
  left: 10%;
}
.prestonEstateLekki1 {
  position: relative;
  top: 0;
  left: 12.5%;
}
.confirmAddChild2 {
  background-color: var(--color-gainsboro-200);
  position: relative;
  height: 14.76%;
  width: 58.72%;
  top: 1.5%;
  right: 16.51%;
  bottom: 86.57%;
  left: 32.77%;
  box-sizing: border-box;
}
.house2,
.houseNo,
.state {
  position: absolute;
  width: 56.88%;
  top: 9.5%;
  left: 26.38%;
  font-weight: 300;
  display: inline-block;
}
.houseNo,
.state {
  width: 21.56%;
  left: 10%;
}
.state {
  width: 10.55%;
  top: 25.5%;
  left: 10%;
}
.confirmAddChild3 {
  background-color: var(--color-gainsboro-200);
  position: relative;
  width: 58.72%;
  top: 0%;
  right: 16.51%;
  bottom: 68.86%;
  left: 32.77%;
  box-sizing: border-box;
}
.lagos1,
.lga {
  position: absolute;
  width: 11.47%;
  top: 33.5%;
  left: 26.83%;
  font-weight: 300;
  display: inline-block;
}
.lga {
  width: 7.34%;
  left: 10%;
}
.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-sandybrown);
}
.confirm1 {
  position: absolute;
  height: 34.15%;
  width: 100%;
  top: 8%;
  left: 0;
  font-weight: 500;
  font-size: var(--font-size-3xl);
  line-height: 20px;
  font-family: var(--font-ek-mukta);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.confirm2 {
  position: absolute;
  height: 34.15%;
  width: 100%;
  top: 25%;
  left: 0;
  font-weight: 500;
  font-size: var(--font-size-3xl);
  line-height: 20px;
  font-family: var(--font-ek-mukta);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  height: 15%;
  width: 28.21%;
  top: 1.5%;
  right: 16.51%;
  bottom: 61.42%;
  left: 55.28%;
}
.rectangleParent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  height: 10%;
  width: 40%;
  top: 5%;
  right: 16.51%;
  bottom: 61.42%;
  left: 45%;
}

.vectorIcon {
  height: 8%;
  width: 8%;
  position: absolute;
  top: 0%;
  right: 10%;
}
.vectorIcon1 {
  height: 30%;
  width: 30%;
  position: absolute;
  top: 35%;
  left: -20%;
}

.frameChild,
.groupItem {
  position: absolute;
  top: 11px;
  left: 0;
  background-color: var(--color-white);
  width: 410px;
  height: 100%;
}
.groupItem {
  top: 0;
  width: 335px;
  height: 472px;
}
.groupInner {
  position: absolute;
  top: 0;
  left: -4px;
  width: 72px;
  height: 72px;
}
.n2000kg,
.n4000,
.tomato,
.x2kg {
  position: absolute;
  display: inline-block;
}
.tomato {
  top: 7px;
  left: 83px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  width: 130px;
  height: 21px;
}
.n2000kg,
.n4000,
.x2kg {
  font-weight: 500;
  height: 20px;
}
.n2000kg {
  top: 29px;
  left: 83px;
  width: 81px;
}
.n4000,
.x2kg {
  top: 30px;
}
.n4000 {
  left: 253px;
  font-size: var(--font-size-base);
  width: 100px;
}
.x2kg {
  left: 190px;
  color: var(--color-dimgray-600);
  width: 36px;
}
.groupParent {
  position: relative;
  top: 7px;
  left: 40px;
  width: 100%;
  height: 64px;
}
.pngTomato187025Icon {
  position: absolute;
  top: 10px;
  left: 9.5px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.bellPepper {
  position: absolute;
  top: 7px;
  left: 83px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  display: inline-block;
  width: 95px;
  height: 21px;
}
.groupContainer {
  position: absolute;
  top: 101px;
  left: 12px;
  width: 312px;
  height: 64px;
}
.sweetRedPeppersCopy600x6Icon {
  position: absolute;
  top: 106px;
  left: 18px;
  width: 53px;
  height: 53px;
  object-fit: cover;
}
.groupChild1 {
  position: absolute;
  top: 0;
  left: -4px;
  width: 72px;
  height: 70px;
}
.groupDiv,
.pngimg7Icon {
  position: absolute;
  top: 195px;
  left: 12px;
  width: 312px;
  height: 64px;
}
.pngimg7Icon {
  top: 206px;
  left: 21px;
  width: 45px;
  height: 42px;
  object-fit: cover;
}
.bellPepper1,
.groupChild2 {
  position: absolute;
  top: 289px;
  left: 12px;
  width: 64px;
  height: 64px;
}
.bellPepper1 {
  top: 296px;
  left: 95px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  display: inline-block;
  width: 95px;
  height: 21px;
}
.n2000kg3,
.n40003,
.x2kg3 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
  height: 20px;
}
.n2000kg3 {
  top: 318px;
  left: 95px;
  width: 81px;
}
.n40003,
.x2kg3 {
  top: 309px;
}
.n40003 {
  left: 265px;
  font-size: var(--font-size-base);
  width: 59px;
}
.x2kg3 {
  left: 202px;
  color: var(--color-dimgray-600);
  width: 36px;
}
.sweetRedPeppersCopy600x6Icon1 {
  position: absolute;
  top: 294px;
  left: 18px;
  width: 53px;
  height: 53px;
  object-fit: cover;
}
.groupChild3,
.groupParent1,
.pngimg8Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
}
.groupParent1,
.pngimg8Icon {
  top: 383px;
  left: 12px;
  width: 312px;
}
.pngimg8Icon {
  top: 394px;
  left: 21px;
  width: 45px;
  height: 42px;
  object-fit: cover;
}
.groupWrapper,
.rectangleContainer {
  position: relative;
  top: 0;
  gap: 100px;
  left: 0;
  width: 100%;
  height: 100%;
}
.groupWrapper {
  top: 11px;
  left: 0px;
  height: 100%;

  overflow-y: auto;
}
.rectangleGroup {
  position: relative;
  height: 100%;
  width: 94.04%;
  top: 0%;
  right: 2.06%;
  bottom: 21.86%;
  left: 3.9%;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.confirmAdd {
  width: 436px;
  height: 820px;
  position: relative;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-700);
  font-family: var(--font-ek-mukta);
}
.yourCart {
  position: absolute;
  display: inline-block;
  color: black;
  top: 21px;
  left: 47.12px;
  font-size: var(--font-size-11xl);
  width: 137.35px;
  height: 36px;
}
.your {
  font-weight: 500;
}
.cart {
  font-weight: 300;
}
.contain {
  position: absolute;
  width: 100%;
  display: flex;
  height: 640px;
  left: 0;
  gap: 10px;
  align-items: flex-start;
  flex-direction: column;
}
.contain1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
