.logistics {
  font-weight: 500;
}
.available {
  font-weight: 300;
}
.logisticsAvailable {
  position: absolute;
  height: 3.41%;
  width: 38.04%;
  top: 0;
  left: 0;
  display: inline-block;
}
.availableLogistics {
  position: relative;
  top: 5%;
  left: 150px;
  width: 1279px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-ek-mukta);
}
