.flash {
  font-weight: 500;
}
.span {
  font-weight: 600;
}
.sales {
  font-weight: 300;
}
.flashSales {
  position: absolute;
  height: 10.19%;
  width: 47.04%;
  top: 0;
  left: 0;
  display: inline-block;
}
.groupChild {
  position: absolute;
  height: 100%;
  width: 98.49%;
  top: 0;
  right: 0.28%;
  bottom: 0;
  left: 1.23%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.lettuce,
.n2000 {
  position: absolute;
  height: 15.79%;
  width: 100%;
  top: 66.4%;
  left: 0;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-ek-mukta);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
}
.n2000 {
  height: 14.21%;
  top: 79.56%;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.groupItem {
  position: absolute;
  height: 47.37%;
  width: 55.4%;
  top: 12.63%;
  right: 21.82%;
  bottom: 40%;
  left: 22.78%;
  border-radius: 50%;
  background-color: var(--color-papayawhip);
}
.lettuceRemovebgPreview2Icon {
  position: absolute;
  height: 34.21%;
  width: 40.01%;
  top: 19.47%;
  right: 27.98%;
  bottom: 46.32%;
  left: 32.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 39.58%;
  width: 15.01%;
  top: 16.01%;
  right: 84.99%;
  bottom: 44.41%;
  left: 0;
}
.groupInner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.carrot,
.n20001 {
  position: absolute;
  height: 15.79%;
  width: 97.84%;
  top: 66.4%;
  left: 2.16%;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-ek-mukta);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
}
.n20001 {
  height: 14.21%;
  top: 79.56%;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.ellipseDiv {
  position: absolute;
  height: 47.37%;
  width: 56.25%;
  top: 12.63%;
  right: 21.88%;
  bottom: 40%;
  left: 21.87%;
  border-radius: 50%;
  background-color: var(--color-papayawhip);
}
.bba003827272830485a6b84d4dLarIcon {
  position: absolute;
  height: 40%;
  width: 47.5%;
  top: 15.26%;
  right: 26.87%;
  bottom: 44.74%;
  left: 25.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 39.58%;
  width: 14.79%;
  top: 16.01%;
  right: 0;
  bottom: 44.41%;
  left: 85.21%;
}
.n20002,
.tomato {
  position: absolute;
  height: 15.79%;
  width: 99.68%;
  top: 66.4%;
  left: 0.05%;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-ek-mukta);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
}
.n20002 {
  height: 14.21%;
  top: 79.56%;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.pngTomato187023Icon {
  position: absolute;
  height: 33.29%;
  width: 41.25%;
  top: 18.95%;
  right: 27.5%;
  bottom: 47.76%;
  left: 31.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 39.58%;
  width: 14.79%;
  top: 16.01%;
  right: 68.02%;
  bottom: 44.41%;
  left: 17.19%;
}
.n20003,
.onions {
  position: absolute;
  height: 15.79%;
  width: 99.68%;
  top: 66.4%;
  left: 0.11%;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-ek-mukta);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
}
.n20003 {
  height: 14.21%;
  width: 99.07%;
  top: 79.56%;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.pngimg5Icon {
  position: absolute;
  height: 30.85%;
  width: 40%;
  top: 22.11%;
  right: 31.25%;
  bottom: 47.05%;
  left: 28.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 39.58%;
  width: 14.79%;
  top: 16.01%;
  right: 51.02%;
  bottom: 44.41%;
  left: 34.2%;
}
.n20004,
.redPepper {
  position: absolute;
  height: 15.79%;
  width: 99.68%;
  top: 66.4%;
  left: 0.18%;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-ek-mukta);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
}
.n20004 {
  height: 14.21%;
  top: 79.56%;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.sweetRedPeppersCopy600x6Icon {
  position: absolute;
  height: 36.84%;
  width: 43.75%;
  top: 17.37%;
  right: 28.12%;
  bottom: 45.79%;
  left: 28.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangleParent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 39.58%;
  width: 14.79%;
  top: 16.01%;
  right: 34.01%;
  bottom: 44.41%;
  left: 51.2%;
}
.groupChild6,
.groupChild7 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.groupChild6 {
  position: absolute;
  width: 99.38%;
  right: 0.62%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.groupChild7 {
  width: 98.11%;
  right: 1.89%;
  border-radius: 0 var(--br-3xs) 0 0;
  background-color: var(--color-crimson);
}
.groupChild7,
.groupDiv,
.off {
  position: absolute;
}
.off {
  height: 50%;
  width: 92.45%;
  top: 29.17%;
  left: 7.55%;
  font-size: var(--font-size-xs);
  line-height: 13px;
  font-weight: 600;
  font-family: var(--font-ek-mukta);
  color: var(--color-white);
  text-align: justify;
  display: inline-block;
}
.groupDiv {
  height: 12.63%;
  width: 32.92%;
  top: 0;
  right: 0;
  bottom: 87.37%;
  left: 67.08%;
}
.n20005,
.spinach {
  position: absolute;
  height: 15.79%;
  width: 99.07%;
  top: 66.4%;
  left: 0.25%;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-ek-mukta);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
}
.n20005 {
  height: 14.21%;
  top: 79.56%;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.groupChild8 {
  position: absolute;
  height: 47.37%;
  width: 55.9%;
  top: 12.63%;
  right: 22.36%;
  bottom: 40%;
  left: 21.74%;
  border-radius: 50%;
  background-color: var(--color-papayawhip);
}
.freshChineseSpinachPngClipIcon {
  position: absolute;
  height: 29.05%;
  width: 43.48%;
  top: 21.58%;
  right: 27.95%;
  bottom: 49.37%;
  left: 28.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangleParent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 39.58%;
  width: 14.79%;
  top: 16.01%;
  right: 17.01%;
  bottom: 44.41%;
  left: 68.21%;
}
.groupChild9 {
  position: absolute;
  height: 100%;
  width: 99.7%;
  top: 0;
  right: 0.3%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.lettuce1,
.n20006 {
  position: absolute;
  height: 15.79%;
  width: 100%;
  top: 66.32%;
  left: 0;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-ek-mukta);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
}
.n20006 {
  height: 14.21%;
  top: 79.47%;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.groupChild10 {
  position: absolute;
  height: 47.37%;
  width: 56.08%;
  top: 12.63%;
  right: 22.11%;
  bottom: 40%;
  left: 21.81%;
  border-radius: 50%;
  background-color: var(--color-papayawhip);
}
.lettuceRemovebgPreview2Icon1 {
  position: absolute;
  height: 34.21%;
  width: 40.5%;
  top: 19.47%;
  right: 28.34%;
  bottom: 46.32%;
  left: 31.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangleParent3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 39.58%;
  width: 14.83%;
  top: 60.42%;
  right: 84.99%;
  bottom: 0;
  left: 0.18%;
}
.lettuce3,
.n20008 {
  position: absolute;
  height: 15.79%;
  width: 99.69%;
  top: 66.32%;
  left: 0;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-ek-mukta);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
}
.n20008 {
  height: 14.21%;
  top: 79.47%;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.lettuceRemovebgPreview2Icon3 {
  position: absolute;
  height: 34.21%;
  width: 40.63%;
  top: 19.47%;
  right: 28.12%;
  bottom: 46.32%;
  left: 31.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangleParent5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 39.58%;
  width: 14.79%;
  top: 60.42%;
  right: 68.02%;
  bottom: 0;
  left: 17.2%;
}
.lettuce4,
.n20009 {
  position: absolute;
  height: 15.79%;
  width: 99.07%;
  top: 66.32%;
  left: 0;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-ek-mukta);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
}
.n20009 {
  height: 14.21%;
  top: 79.47%;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.rectangleParent6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 39.58%;
  width: 14.79%;
  top: 60.42%;
  right: 51%;
  bottom: 0;
  left: 34.21%;
}
.n200010 {
  position: absolute;
  height: 14.21%;
  width: 99.39%;
  top: 79.47%;
  left: 0;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-100);
  text-align: center;
  display: inline-block;
}
.rectangleParent7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 39.58%;
  width: 14.83%;
  top: 60.42%;
  right: 33.94%;
  bottom: 0;
  left: 51.23%;
}
.lettuce6 {
  position: absolute;
  height: 15.79%;
  width: 98.77%;
  top: 66.32%;
  left: 0;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-ek-mukta);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
}
.rectangleParent8,
.rectangleParent9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 39.58%;
  width: 14.83%;
  top: 60.42%;
  right: 16.92%;
  bottom: 0;
  left: 68.24%;
}
.rectangleParent9 {
  right: 0;
  left: 85.17%;
}
.off1 {
  position: absolute;
  height: 50%;
  width: 92.45%;
  top: 29.17%;
  left: 7.55%;
  line-height: 13px;
  font-weight: 600;
  display: inline-block;
}
.rectangleParent10 {
  position: absolute;
  height: 5%;
  width: 4.82%;
  top: 60.42%;
  right: 51.05%;
  bottom: 34.58%;
  left: 44.13%;
  text-align: justify;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.flashsales {
  position: absolute;
  width: 76.32%;
  top: 1423px;
  right: 11.25%;
  left: 14%;
  height: 480px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-ek-mukta);
}
.popular,
.sortBy {
  font-weight: 300;
  font-family: var(--font-ek-mukta);
}
.popular {
  font-weight: 500;
}
.sortByPopularContainer {
  position: absolute;
  height: 100%;
  width: 93.76%;
  top: 0;
  left: 0;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
  text-align: right;
  display: inline-block;
}
.riarrowUpSLineIcon {
  position: absolute;
  width: 13.64%;
  top: 7px;
  right: 0;
  left: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 24px;
}
.sortByPopularParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 31px;
  width: 14.35%;
  top: 36.5%;
  right: 12%;
  z-index: 2;
}
