.componentChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslategray-400);
}
.copyright2023Farmjoint,
.signUpAnd {
  position: absolute;
  width: 21.94%;
  top: 46.15%;
  left: 70.9%;
  display: inline-block;
}
.copyright2023Farmjoint {
  width: 13.66%;
  top: 86.08%;
  left: 4.4%;
}
.about {
  margin: 0;
}
.aboutBlogContactContainer {
  position: absolute;
  width: 7.39%;
  top: 46.15%;
  left: 50.22%;
  display: inline-block;
}
.myAccountShoppingContainer,
.myAccountShoppingContainer1 {
  position: absolute;
  width: 12.84%;
  top: 46.15%;
  left: 28.36%;
  display: inline-block;
}
.myAccountShoppingContainer1 {
  left: 4.4%;
}
.componentInner,
.componentItem {
  position: absolute;
  height: 0.37%;
  width: 100.07%;
  top: 33.88%;
  right: -0.04%;
  bottom: 65.75%;
  left: -0.04%;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
}
.componentInner {
  top: 81.5%;
  bottom: 18.13%;
}
.fa6SolidenvelopeOpenTextIcon {
  position: absolute;
  height: 9.16%;
  width: 1.87%;
  top: 16.85%;
  right: 69.78%;
  bottom: 73.99%;
  left: 28.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.callUs247 {
  position: absolute;
  width: 5.07%;
  top: 13.55%;
  left: 6.72%;
  color: var(--color-white);
  display: inline-block;
}
.account,
.address,
.information,
.subscribe {
  position: absolute;
  width: 6.27%;
  top: 39.19%;
  left: 4.4%;
  display: inline-block;
  color: var(--color-whitesmoke-300);
}
.account,
.information,
.subscribe {
  width: 6.49%;
  left: 28.36%;
}
.information,
.subscribe {
  width: 9.78%;
  left: 50.22%;
}
.subscribe {
  left: 70.9%;
}
.contactfarmjointcom,
.div,
.emailUs,
.followUs {
  position: absolute;
  width: 5.67%;
  top: 13.55%;
  left: 31.12%;
  color: var(--color-white);
  display: inline-block;
}
.contactfarmjointcom,
.div,
.followUs {
  width: 7.46%;
  left: 50%;
}
.contactfarmjointcom,
.div {
  width: 10%;
  top: 19.05%;
  left: 6.72%;
  font-size: var(--font-size-base);
  color: var(--color-yellowgreen-200);
}
.contactfarmjointcom {
  width: 12.61%;
  left: 31.12%;
}
.fafacebookIcon,
.mdiinstagramIcon,
.mdilinkedinIcon,
.mditwitterIcon {
  position: absolute;
  height: 3.66%;
  width: 0.37%;
  top: 22.34%;
  right: 49.63%;
  bottom: 73.99%;
  left: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mdiinstagramIcon,
.mdilinkedinIcon,
.mditwitterIcon {
  height: 4.4%;
  width: 0.9%;
  top: 21.98%;
  right: 48.51%;
  bottom: 73.63%;
  left: 50.6%;
}
.mdilinkedinIcon,
.mditwitterIcon {
  height: 4.76%;
  width: 0.97%;
  right: 47.39%;
  bottom: 73.26%;
  left: 51.64%;
}
.mdilinkedinIcon {
  right: 46.34%;
  left: 52.69%;
}
.groupChild,
.rectangleInput {
  border: 1px solid var(--color-yellowgreen-200);
  box-sizing: border-box;
}
.rectangleInput {
  background-color: var(--color-gainsboro-200);
  position: absolute;
  height: 10.99%;
  width: 13.06%;
  top: 56.41%;
  right: 16.04%;
  bottom: 32.6%;
  left: 70.9%;
  border-radius: var(--br-21xl);
}
.groupChild {
  border-radius: 0 var(--br-21xl) var(--br-21xl) 0;
  background-color: var(--color-yellowgreen-200);
}
.groupChild,
.rectangleWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.submit {
  position: absolute;
  height: 46.67%;
  width: 70.45%;
  top: 23.33%;
  left: 11.36%;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.groupParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 10.99%;
  width: 3.28%;
  top: 56.41%;
  right: 16.04%;
  bottom: 32.6%;
  left: 80.67%;
}
.faSolidheadphonesAltIcon {
  position: absolute;
  height: 9.16%;
  width: 1.87%;
  top: 16.85%;
  right: 93.73%;
  bottom: 73.99%;
  left: 4.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleParent {
  position: relative;
  right: 0;
  width: 1340px;
  height: 273px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-silver-200);
  font-family: var(--font-ek-mukta);
}
