.lettuceCardChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.lettuce,
.n2000 {
  position: absolute;
  top: 66.32%;
  left: 31.88%;
  font-weight: 500;
}
.n2000 {
  top: 79.47%;
  left: 34.38%;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.lettuceCardItem {
  position: absolute;
  height: 47.37%;
  width: 56.25%;
  top: 12.63%;
  right: 21.88%;
  bottom: 40%;
  left: 21.88%;
  border-radius: 50%;
  background-color: var(--color-papayawhip);
}
.lettuceRemovebgPreview2Icon {
  position: absolute;
  height: 34.21%;
  width: 40.63%;
  top: 19.47%;
  right: 28.13%;
  bottom: 46.32%;
  left: 31.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.lettuceCard {
  position: relative;
  width: 160px;
  height: 190px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-200);
  font-family: var(--font-ek-mukta);
}
