.logisticsStorageChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  width: 60px;
  height: 60px;
}
.antDesignhomeOutlinedIcon {
  position: absolute;
  top: 9.35px;
  left: 16px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.home {
  position: absolute;
  top: 38px;
  left: 17px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 60px;
  height: 60px;
}
.marketplace {
  position: absolute;
  top: 40px;
  left: 4px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.claritystoreLineIcon {
  position: absolute;
  top: 9px;
  left: 15px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-seagreen);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  width: 60px;
  height: 60px;
}
.logistics {
  position: absolute;
  top: 42px;
  left: 12px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-white);
  text-align: center;
}
.fa6SolidtruckFastIcon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 24px;
  overflow: hidden;
}

.storage {
  position: absolute;
  top: 39px;
  left: 14px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.bulkOrders {
  position: absolute;
  top: 38px;
  left: 6px;
  font-size: var(--font-size-3xs);
  line-height: 9px;
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
  display: inline-block;
  width: 49px;
}
.carbonmapIcon,
.healthiconsfruitsOutline {
  position: absolute;
  top: 5px;
  left: 11px;
  width: 38px;
  height: 38px;
  overflow: hidden;
}
.carbonmapIcon {
  top: 8px;
  left: 17px;
  width: 26px;
  height: 26px;
}
.groupParent {
  position: absolute;
  height: 74.35%;
  width: 60%;
  top: 15.21%;
  right: 20%;
  bottom: 10.44%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.farmjointLogo2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 9.25%;
  width: 83.5%;
  top: 0.88%;
  right: 8.5%;
  bottom: 89.88%;
  left: 8%;
  background-image: url(/public/farmjointlogo2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.logisticsStorage {
  position: fixed;
  width: 100px;
  height: 800px;
  top: 0;
  left: 0;
}
