.registerAsAStorageCompanyChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
}
.back {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 92.65%;
  left: 7.34%;
  font-size: var(--font-size-lg);
  font-family: var(--font-ek-mukta);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
}
.registerAsA {
  position: absolute;
  top: 2.24%;
  left: 21.65%;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
}
.companyName {
  position: absolute;
  top: 0;
  left: 0;
}
.companyNameWrapper,
.emailWrapper {
  position: absolute;
  height: 5.27%;
  width: 24.4%;
  top: 12.3%;
  right: 68.26%;
  bottom: 82.43%;
  left: 7.34%;
}
.emailWrapper {
  width: 8.44%;
  top: 21.73%;
  right: 84.04%;
  bottom: 73%;
  left: 7.52%;
}
.address,
.password {
  position: absolute;
  top: 59.42%;
  left: 7.34%;
}
.address {
  top: 31.15%;
  left: 7.71%;
}
.state,
.typeOfVehicle {
  position: absolute;
  top: 40.58%;
  left: 7.34%;
}
.typeOfVehicle {
  width: 27.52%;
  top: 50%;
  display: inline-block;
}
.rectangleInput,
.registerAsAStorageCompanyChild1,
.registerAsAStorageCompanyChild2,
.registerAsAStorageCompanyChild3,
.registerAsAStorageCompanyInner,
.registerAsAStorageCompanyItem {
  border: 1px solid var(--color-lightgray-200);
  background-color: var(--color-white);
  position: absolute;
  height: 6.39%;
  width: 53.94%;
  top: 11.18%;
  right: 7.34%;
  bottom: 82.43%;
  left: 38.72%;
  box-sizing: border-box;
}
.rectangleInput,
.registerAsAStorageCompanyChild1,
.registerAsAStorageCompanyChild2,
.registerAsAStorageCompanyChild3,
.registerAsAStorageCompanyInner {
  top: 20.77%;
  bottom: 72.84%;
}
.rectangleInput,
.registerAsAStorageCompanyChild1,
.registerAsAStorageCompanyChild2,
.registerAsAStorageCompanyChild3 {
  top: 30.35%;
  bottom: 63.26%;
}
.registerAsAStorageCompanyChild1,
.registerAsAStorageCompanyChild2,
.registerAsAStorageCompanyChild3 {
  top: 39.94%;
  bottom: 53.67%;
}
.registerAsAStorageCompanyChild2,
.registerAsAStorageCompanyChild3 {
  top: 49.52%;
  bottom: 44.09%;
}
.registerAsAStorageCompanyChild3 {
  top: 59.11%;
  bottom: 34.5%;
}
.confirmPassword {
  position: absolute;
  top: 69.01%;
  left: 7.34%;
}
.registerAsAStorageCompanyChild4 {
  border: 1px solid var(--color-lightgray-200);
  background-color: var(--color-white);
  position: absolute;
  height: 6.39%;
  width: 53.94%;
  top: 68.69%;
  right: 7.34%;
  bottom: 24.92%;
  left: 38.72%;
  box-sizing: border-box;
}
.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-seagreen);
}
.register {
  position: absolute;
  width: 23.81%;
  top: 12.5%;
  left: 38.1%;
  font-size: var(--font-size-xl);
  font-family: var(--font-ek-mukta);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 6.39%;
  width: 53.94%;
  top: 82.75%;
  right: 7.34%;
  bottom: 10.86%;
  left: 38.72%;
}
.registerAsAStorageCompany {
  position: relative;
  width: 545px;
  height: 626px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-ek-mukta);
}
