.groupChild,
.resetPasswordMailInner {
  position: absolute;
  left: 0;
  width: 480px;
  height: 275px;
}
.groupChild {
  top: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
}
.resetPasswordMailInner {
  top: 1px;
}
.aResetLink {
  position: absolute;
  top: 91px;
  left: 105px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  width: 271px;
}
.resetPasswordMail {
  position: relative;
  width: 480px;
  height: 276px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  font-family: var(--font-ek-mukta);
}
