.storageNavigationChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  width: 80px;
  height: 80px;
}
.antDesignhomeOutlinedIcon {
  position: absolute;
  top: 15px;
  left: 22.5px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.home {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  font-weight: 900;
  font-size: var(--font-size-s);
  font-family: var(--font-ek-mukta);
  color: black;
  text-align: center;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 80px;
  height: 80px;
}
.marketplace {
  position: absolute;
  top: 48px;
  left: 0;
  font-weight: 900;
  width: 100%;
  font-size: var(--font-size-s);
  font-family: var(--font-ek-mukta);
  color: black;
  text-align: center;
}
.claritystoreLineIcon {
  position: absolute;
  top: 9px;
  left: 21.5px;
  width: 37px;
  height: 37px;
  overflow: hidden;
}
.logistics {
  position: absolute;
  top: 48px;
  left: 0;
  font-weight: 900;
  width: 100%;
  font-size: var(--font-size-s);
  font-family: var(--font-ek-mukta);
  color: black;
  text-align: center;
}
.fa6SolidtruckFastIcon {
  position: absolute;
  top: 15px;
  left: 22.5px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-seagreen);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  width: 80px;
  height: 80px;
}

.storage {
  position: absolute;
  top: 48px;
  left: 0;
  font-weight: 900;
  width: 100%;
  font-size: var(--font-size-s);
  font-family: var(--font-ek-mukta);
  color: var(--color-white);
  text-align: center;
}
.bulkOrders {
  position: absolute;
  top: 48px;
  left: 0;
  font-weight: 900;
  font-size: var(--font-size-s);
  line-height: 9px;
  font-family: var(--font-ek-mukta);
  color: black;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.bulk {
  position: absolute;
  top: 60px;
  left: 0;
  font-weight: 900;
  font-size: var(--font-size-s);
  line-height: 9px;
  font-family: var(--font-ek-mukta);
  color: black;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.carbonmapIcon,
.healthiconsfruitsOutline {
  position: absolute;
  top: 5px;
  left: 17.5px;
  width: 45px;
  height: 45px;
  overflow: hidden;
}
.carbonmapIcon {
  top: 8px;
  left: 22.5px;
  width: 35px;
  height: 35px;
}
.groupParent {
  position: absolute;
  top: 121.65px;
  left: 19px;
  height: 594.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.farmjointLogo3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 75px;
  width: 80px;
  top: 1%;
  right: 8.5%;
  bottom: 89.88%;
  left: 16px;
  background-image: url(/public/farmjointlogo2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.storageNavigation {
  position: fixed;
  width: 120px;
  height: 100%;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.25);
}
