.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  width: 760px;
  height: 49px;
}
.searchAnyCategory {
  position: absolute;
  top: 10px;
  left: 33px;
  display: inline-block;
  width: 263px;
}
.octiconsearch24 {
  position: absolute;
  top: 12px;
  left: 16.58px;
  width: 23.94px;
  height: 24px;
  overflow: hidden;
}
.rectangleParent {
  position: absolute;
  top: 8px;
  left: 0;
  width: 760px;
  height: 49px;
  font-size: var(--font-size-mid);
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-seagreen);
  width: 146px;
  height: 46px;
}
.rectangleGroup,
.register {
  position: absolute;
  top: 12px;
  left: 50px;
}
.rectangleGroup {
  top: 8px;
  left: 795px;
  width: 146px;
  height: 46px;
  color: var(--color-white);
}
.cart {
  position: absolute;
  top: 28px;
  left: 4px;
}
.bibasketFillIcon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 30px;
}
.cartParent,
.groupInner {
  position: absolute;
  top: 8px;
  left: 0;
  width: 30px;
  height: 50px;
}
.groupInner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: var(--color-sandybrown);
}
.div,
.ellipseParent {
  position: absolute;
  top: 0;
  left: 35.29%;
}
.ellipseParent {
  height: 29.31%;
  width: 50%;
  right: 0;
  bottom: 70.69%;
  left: 50%;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.groupContainer {
  position: absolute;
  top: 0;
  left: 1044px;
  width: 34px;
  height: 58px;
  color: var(--color-darkslategray-300);
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-silver-400);
  width: 45px;
  height: 45px;
}
.vectorIcon {
  position: absolute;
  height: 59.26%;
  width: 59.26%;
  top: 22.22%;
  right: 18.52%;
  bottom: 18.52%;
  left: 22.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipseGroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: 970px;
  width: 45px;
  height: 45px;
}
.frameItem,
.groupParent {
  position: absolute;
  top: 13px;
  left: 186px;
  width: 1078px;
  height: 58px;
}
.frameItem {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1140px;
  height: 699px;
}
.ciwavyCheckIcon {
  position: absolute;
  top: 509px;
  left: 261px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-sandybrown);
  width: 110px;
  height: 41px;
}
.editProfile {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: var(--font-size-xl);
  line-height: 125.4%;
  font-family: var(--font-ek-mukta);
  color: var(--color-white);
  text-align: left;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 411px;
  left: 488px;
  width: 110px;
  height: 41px;
}
.farmNameHab {
  margin: 0;
}
.farmNameHabContainer,
.verified {
  position: absolute;
  line-height: 125.4%;
}
.farmNameHabContainer {
  top: 198px;
  left: 488px;
  white-space: pre-wrap;
}
.verified {
  top: 510px;
  left: 177px;
  color: var(--color-seagreen);
}
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-seagreen);
  width: 1140px;
  height: 100px;
}
.geolocation,
.orders,
.products,
.weatherForecast {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 37px;
  left: 287px;
  font-size: var(--font-size-xl);
  line-height: 125.4%;
  font-family: var(--font-ek-mukta);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.geolocation,
.products,
.weatherForecast {
  left: 364px;
}
.products,
.weatherForecast {
  left: 485px;
}
.products {
  left: 192px;
}
.dashiconsemailAlt {
  position: absolute;
  top: 55px;
  left: 979px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.ellipseDiv {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
  z-index: 0;
}
.vectorIcon1 {
  position: absolute;
  margin: 0 !important;
  height: 35.27%;
  width: 50%;
  top: 32%;
  right: 26%;
  bottom: 32.73%;
  left: 24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.ellipseContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 25px;
  left: 1040px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.groupIcon {
  position: absolute;
  top: 180px;
  left: 71px;
  width: 300px;
  height: 300px;
}
.rectangleContainer {
  position: absolute;
  top: 101px;
  left: 186px;
  width: 1140px;
  height: 699px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-400);
}
.groupChild1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  width: 101px;
  height: 41px;
}
.profile {
  position: absolute;
  top: 8px;
  left: 23px;
  font-size: var(--font-size-xl);
  line-height: 125.4%;
  font-family: var(--font-ek-mukta);
  color: var(--color-black);
  text-align: left;
}
.rectangleParent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 130px;
  left: 257px;
  width: 101px;
  height: 41px;
}
.dashboardNavigationChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.groupChild2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  width: 60px;
  height: 60px;
}
.antDesignhomeOutlinedIcon {
  position: absolute;
  top: 9.35px;
  left: 16px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.home {
  position: absolute;
  top: 38px;
  left: 17px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.rectangleParent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 60px;
  height: 60px;
}
.marketplace {
  position: absolute;
  top: 40px;
  left: 4px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.claritystoreLineIcon {
  position: absolute;
  top: 9px;
  left: 15px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.logistics {
  position: absolute;
  top: 42px;
  left: 12px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.fa6SolidtruckFastIcon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 24px;
  overflow: hidden;
}
.bulkOrders,
.storage {
  position: absolute;
  top: 39px;
  left: 14px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.bulkOrders {
  left: 6px;
}
.carbonmapIcon,
.healthiconsfruitsOutline {
  position: absolute;
  top: 5px;
  left: 11px;
  width: 38px;
  height: 38px;
  overflow: hidden;
}
.carbonmapIcon {
  top: 8px;
  left: 17px;
  width: 26px;
  height: 26px;
}
.frameDiv {
  position: absolute;
  height: 74.35%;
  width: 60%;
  top: 15.21%;
  right: 20%;
  bottom: 10.44%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.farmjointLogo2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 9.25%;
  width: 83.5%;
  top: 0.88%;
  right: 8.5%;
  bottom: 89.88%;
  left: 8%;
  background-image: url(/public/farmjointlogo2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.dashboardNavigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 800px;
}
.farmersDashboardVerified {
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  height: 800px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-gainsboro-500);
}
