.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  width: 760px;
  height: 49px;
}
.searchAnyCategory {
  position: absolute;
  top: 10px;
  left: 33px;
  display: inline-block;
  width: 263px;
}
.octiconsearch24 {
  position: absolute;
  top: 12px;
  left: 16.58px;
  width: 23.94px;
  height: 24px;
  overflow: hidden;
}
.rectangleParent {
  position: absolute;
  top: 8px;
  left: 0;
  width: 760px;
  height: 49px;
  font-size: var(--font-size-mid);
  color: var(--color-gainsboro-500);
}
.groupItem,
.signIn {
  position: absolute;
  top: 36px;
  left: 975px;
}
.groupItem {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-seagreen);
  width: 146px;
  height: 46px;
}
.rectangleGroup,
.register {
  position: absolute;
  top: 12px;
  left: 50px;
}
.rectangleGroup {
  top: 8px;
  left: 795px;
  width: 146px;
  height: 46px;
  color: var(--color-white);
}
.phuserLightIcon {
  position: absolute;
  top: 8px;
  left: 976px;
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.cart {
  position: absolute;
  top: 28px;
  left: 4px;
}
.bibasketFillIcon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 30px;
}
.cartParent {
  position: absolute;
  top: 8px;
  left: 0;
  width: 30px;
  height: 50px;
}
.groupInner {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-sandybrown);
}
.div,
.ellipseParent,
.groupInner {
  position: absolute;
  top: 0;
}
.div {
  height: 100%;
  width: 35.29%;
  left: 35.29%;
  display: inline-block;
}
.ellipseParent {
  height: 29.31%;
  width: 50%;
  right: 0;
  bottom: 70.69%;
  left: 50%;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.groupContainer,
.groupParent {
  position: absolute;
  top: 0;
  left: 1044px;
  width: 34px;
  height: 58px;
}
.groupParent {
  top: 13px;
  left: 186px;
  width: 1078px;
}
.farmersMessageContentChild,
.farmersMessageContentItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1140px;
  height: 1147px;
}
.farmersMessageContentItem {
  background-color: var(--color-seagreen);
  height: 100px;
}
.newPurchaseAlert {
  position: absolute;
  top: 38px;
  left: 30px;
  line-height: 125.4%;
  color: var(--color-white);
}
.farmersMessageContentInner,
.helloSunnyFarms {
  position: absolute;
  top: 25px;
  left: 1040px;
}
.helloSunnyFarms {
  top: 150px;
  left: 27px;
  line-height: 125.4%;
}
.customerAddressLagosContainer,
.customerNameChickenContainer {
  position: absolute;
  top: 563px;
  left: 27px;
  line-height: 125.4%;
}
.customerAddressLagosContainer {
  top: 605px;
}
.rectangleDiv {
  position: absolute;
  top: 208px;
  left: 61px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  width: 651px;
  height: 327px;
}
.beans,
.cassava,
.maize,
.rice {
  position: absolute;
  top: 311px;
  left: 181px;
  line-height: 125.4%;
}
.beans,
.cassava,
.rice {
  top: 370px;
}
.cassava,
.rice {
  top: 425px;
}
.rice {
  top: 480px;
}
.bags,
.n1000000,
.n10000001,
.n2500000,
.n500000 {
  position: absolute;
  top: 311px;
  left: 355px;
  line-height: 125.4%;
}
.n1000000,
.n10000001,
.n2500000,
.n500000 {
  left: 549px;
}
.n1000000,
.n10000001,
.n2500000 {
  top: 370px;
}
.n1000000,
.n10000001 {
  top: 425px;
}
.n10000001 {
  top: 480px;
}
.bags1,
.bags2 {
  left: 355px;
  line-height: 125.4%;
}
.bags1 {
  position: absolute;
  top: 370px;
}
.bags2 {
  top: 425px;
}
.bags2,
.bags3,
.sn {
  position: absolute;
}
.bags3 {
  top: 480px;
  left: 355px;
  line-height: 125.4%;
}
.sn {
  left: 89px;
}
.product,
.quantity,
.sn {
  top: 245px;
  line-height: 125.4%;
}
.product {
  position: absolute;
  left: 181px;
}
.quantity {
  left: 355px;
}
.b,
.price,
.quantity {
  position: absolute;
}
.price {
  top: 245px;
  left: 549px;
  line-height: 125.4%;
}
.b {
  top: 311px;
}
.b,
.b1,
.b2 {
  left: 92px;
  line-height: 125.4%;
}
.b1 {
  position: absolute;
  top: 370px;
}
.b2 {
  top: 425px;
}
.b2,
.b3,
.lineDiv {
  position: absolute;
}
.b3 {
  top: 480px;
  left: 92px;
  line-height: 125.4%;
}
.lineDiv {
  top: 280px;
  left: 67.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 638px;
  height: 1px;
}
.farmersMessageContentChild1,
.farmersMessageContentChild2,
.farmersMessageContentChild3 {
  position: absolute;
  top: 222.5px;
  left: 150.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 301px;
}
.farmersMessageContentChild2,
.farmersMessageContentChild3 {
  left: 324.5px;
}
.farmersMessageContentChild3 {
  left: 518.5px;
}
.farmersMessageContent {
  position: absolute;
  top: 87px;
  left: 186px;
  width: 1140px;
  height: 713px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-400);
}
.dashboardNavigationChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.groupChild1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  width: 60px;
  height: 60px;
}
.antDesignhomeOutlinedIcon {
  position: absolute;
  top: 9.35px;
  left: 16px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.home {
  position: absolute;
  top: 38px;
  left: 17px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 60px;
  height: 60px;
}
.marketplace {
  position: absolute;
  top: 40px;
  left: 4px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.claritystoreLineIcon {
  position: absolute;
  top: 9px;
  left: 15px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.logistics {
  position: absolute;
  top: 42px;
  left: 12px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.fa6SolidtruckFastIcon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 24px;
  overflow: hidden;
}
.bulkOrders,
.storage {
  position: absolute;
  top: 39px;
  left: 14px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.bulkOrders {
  left: 6px;
}
.carbonmapIcon,
.healthiconsfruitsOutline {
  position: absolute;
  top: 5px;
  left: 11px;
  width: 38px;
  height: 38px;
  overflow: hidden;
}
.carbonmapIcon {
  top: 8px;
  left: 17px;
  width: 26px;
  height: 26px;
}
.frameDiv {
  position: absolute;
  height: 74.35%;
  width: 60%;
  top: 15.21%;
  right: 20%;
  bottom: 10.44%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.farmjointLogo2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 9.25%;
  width: 83.5%;
  top: 0.88%;
  right: 8.5%;
  bottom: 89.88%;
  left: 8%;
  background-image: url(/public/farmjointlogo2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.dashboardNavigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 800px;
}
.farmersDashboardMainMessage {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 800px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-300);
}
