.frameChild {
  position: absolute;
  top: 10px;
  left: 93px;
  background-color: var(--color-whitesmoke-100);
  width: 1340px;
  height: 1819px;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 1263px;
  height: 416px;
  object-fit: cover;
}
.transLogistics {
  position: absolute;
  top: 167px;
  left: 0;
  text-align: center;
  font-weight: 600;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-ek-mukta);
  display: inline-block;
  width: 100%;
}
.groupItem,
.rectangleGroup {
  position: absolute;
  top: 19px;
  left: 138px;
  width: 1263px;
  height: 416px;
}
.groupItem {
  top: 0;
  left: 0;
  background-color: var(--color-seagreen);
  width: 1000px;
  height: 258px;
}
.availableVehicles {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.ferries,
.trailers,
.trucks {
  position: absolute;
  top: 74px;
  left: 6px;
}
.ferries,
.trucks {
  top: 122px;
}
.ferries {
  top: 174px;
}
.availableVehiclesParent {
  position: absolute;
  top: 18px;
  left: 601px;
  width: 320px;
  height: 224px;
  text-align: left;
}
.div,
.div1,
.noOfCustomers,
.rating {
  position: absolute;
  top: 18px;
  left: 255px;
  font-weight: 500;
}
.div,
.div1,
.rating {
  top: 92px;
  left: 333px;
}
.div1,
.rating {
  top: 18px;
  left: 61px;
}
.div1 {
  top: 92px;
  left: 83px;
}
.groupInner {
  top: -0.5px;
  left: 197.5px;
  border-right: 1px solid var(--color-darkgray-300);
  width: 1px;
  height: 259px;
}
.groupChild1,
.groupInner,
.lineDiv {
  position: absolute;
  box-sizing: border-box;
}
.lineDiv {
  top: 79.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-darkgray-300);
  width: 1001px;
  height: 1px;
}
.groupChild1 {
  top: -0.5px;
  left: 533.5px;
  border-right: 1px solid var(--color-darkgray-300);
  width: 1px;
  height: 259px;
}
.rectangleContainer {
  position: absolute;
  top: 502px;
  left: 263px;
  width: 1000px;
  height: 258px;
  font-size: var(--font-size-11xl);
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-seagreen);
  width: 282px;
  height: 70px;
}
.requestLogistics {
  position: absolute;
  top: 11px;
  left: 30.21px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-ek-mukta);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 220.56px;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 874px;
  left: 622px;
  width: 282px;
  height: 70px;
}
.groupChild2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-darkslategray-400);
  height: 696px;
}
.about,
.blog,
.contact,
.copyright2023Farmjoint,
.myAccount,
.service,
.signUpAnd {
  position: absolute;
  width: 29.1%;
  top: 348px;
  left: 70.9%;
  font-size: var(--font-size-6xl);
  color: var(--color-silver-200);
  display: inline-block;
}
.about,
.blog,
.contact,
.copyright2023Farmjoint,
.myAccount,
.service {
  width: 60.67%;
  top: 627px;
  left: 4.4%;
}
.about,
.blog,
.contact,
.myAccount,
.service {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 17.84%;
  top: 348px;
  left: 50.22%;
  font-family: var(--font-ek-mukta);
  text-align: left;
}
.blog,
.contact,
.myAccount,
.service {
  top: 383px;
}
.contact,
.myAccount,
.service {
  top: 418px;
}
.myAccount,
.service {
  top: 453px;
}
.myAccount {
  width: 17.99%;
  top: 348px;
  left: 28.36%;
}
.groupChild3,
.groupChild4 {
  position: absolute;
  width: 100.07%;
  top: 229.5px;
  right: -0.04%;
  left: -0.04%;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  height: 1px;
}
.groupChild4 {
  top: 597.5px;
}
.fa6SolidenvelopeOpenTextIcon {
  position: absolute;
  width: 3.81%;
  top: 101px;
  right: 52.76%;
  left: 43.43%;
  max-width: 100%;
  overflow: hidden;
  height: 51px;
}
.callUs247 {
  position: absolute;
  width: 28.88%;
  top: 95px;
  left: 9.7%;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  display: inline-block;
}
.account,
.address,
.information,
.subscribe {
  position: absolute;
  width: 13.13%;
  top: 302px;
  left: 4.4%;
  display: inline-block;
}
.account,
.information,
.subscribe {
  width: 17.99%;
  left: 28.36%;
}
.information,
.subscribe {
  width: 17.84%;
  left: 50.22%;
}
.subscribe {
  width: 25.75%;
  left: 70.9%;
}
.contactfarmjointcom,
.div2,
.emailUs,
.followUs {
  position: absolute;
  width: 25.45%;
  top: 95px;
  left: 47.84%;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  display: inline-block;
}
.contactfarmjointcom,
.div2,
.followUs {
  width: 14.1%;
  left: 80.07%;
}
.contactfarmjointcom,
.div2 {
  width: 31.57%;
  top: 115px;
  left: 9.7%;
  font-size: var(--font-size-11xl);
  color: var(--color-yellowgreen-200);
}
.contactfarmjointcom {
  width: 30.22%;
  left: 47.84%;
}
.faSolidheadphonesAltIcon {
  width: 4.03%;
  top: 249px;
  right: 91.57%;
  left: 4.4%;
  max-width: 100%;
  height: 54px;
}
.faSolidheadphonesAltIcon,
.fafacebook,
.vectorIcon {
  position: absolute;
  overflow: hidden;
}
.vectorIcon {
  height: 100%;
  width: 96.43%;
  top: 0;
  right: 0.11%;
  bottom: 0;
  left: 3.46%;
  max-width: 100%;
  max-height: 100%;
}
.fafacebook {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 0.75%;
  top: 132px;
  right: 19.03%;
  left: 80.22%;
  height: 18px;
}
.vectorIcon1 {
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  max-height: 100%;
}
.mdiinstagram,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  overflow: hidden;
}
.mdiinstagram {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 1.64%;
  top: 129px;
  right: 17.09%;
  left: 81.27%;
  height: 22px;
}
.vectorIcon2 {
  height: 70.83%;
  width: 87.17%;
  top: 16.67%;
  right: 6.42%;
  bottom: 12.5%;
  left: 6.42%;
  max-width: 100%;
  max-height: 100%;
}
.mditwitter {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 1.79%;
  top: 129px;
  right: 15%;
  left: 83.21%;
  height: 24px;
}
.mdilinkedin,
.mditwitter,
.vectorIcon3 {
  position: absolute;
  overflow: hidden;
}
.vectorIcon3 {
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  max-height: 100%;
}
.mdilinkedin {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 1.79%;
  top: 129px;
  right: 12.91%;
  left: 85.3%;
  height: 24px;
}
.rectangleInput {
  border: 1px solid var(--color-yellowgreen-200);
  background-color: var(--color-gainsboro-200);
  position: absolute;
  width: 19.63%;
  top: 453px;
  right: 10.75%;
  left: 69.63%;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  box-sizing: border-box;
  height: 52px;
}
.groupDiv {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 696px;
}
.faSolidheadphonesAltIcon1 {
  position: absolute;
  width: 4.03%;
  top: 102px;
  right: 91.57%;
  left: 4.4%;
  max-width: 100%;
  overflow: hidden;
  height: 54px;
}
.frameItem,
.rectangleWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 52px;
}
.frameItem {
  width: 100%;
  right: 0;
  border-radius: 0 var(--br-21xl) var(--br-21xl) 0;
  background-color: var(--color-yellowgreen-200);
  border: 1px solid var(--color-yellowgreen-200);
  box-sizing: border-box;
}
.rectangleWrapper {
  width: 85px;
}
.submit,
.submitWrapper {
  position: absolute;
  height: 22px;
}
.submit {
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  font-family: var(--font-ek-mukta);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.submitWrapper {
  width: 92.94%;
  top: 15px;
  right: 3.53%;
  left: 3.53%;
}
.footerInner,
.frameParent {
  position: absolute;
  height: 52px;
}
.frameParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 85px;
}
.footerInner {
  width: 6.34%;
  top: 453px;
  right: 4.4%;
  left: 89.25%;
}
.footer,
.shoppingCart {
  position: absolute;
  text-align: left;
  font-family: var(--font-ek-mukta);
}
.shoppingCart {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 17.99%;
  top: 383px;
  left: 28.36%;
  font-size: var(--font-size-6xl);
  color: var(--color-silver-200);
  display: inline-block;
}
.footer {
  width: 93.06%;
  top: 1114px;
  right: 0.56%;
  left: 6.39%;
  height: 696px;
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke-300);
}
.rectangleParent {
  position: absolute;
  top: 106px;
  left: 7px;
  width: 1440px;
  height: 1810px;
  overflow-y: auto;
}
.logisticsStorageChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.groupChild5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  width: 60px;
  height: 60px;
}
.antDesignhomeOutlinedIcon {
  position: absolute;
  top: 9.35px;
  left: 16px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.home {
  position: absolute;
  top: 38px;
  left: 17px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.rectangleParent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 60px;
  height: 60px;
}
.marketplace {
  position: absolute;
  top: 40px;
  left: 4px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.claritystoreLineIcon {
  position: absolute;
  top: 9px;
  left: 15px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.groupChild7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-seagreen);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  width: 60px;
  height: 60px;
}
.logistics {
  position: absolute;
  top: 42px;
  left: 12px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-white);
  text-align: center;
}
.fa6SolidtruckFastIcon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 24px;
  overflow: hidden;
}
.bulkOrders,
.storage {
  position: absolute;
  top: 39px;
  left: 14px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ek-mukta);
  color: var(--color-silver-300);
  text-align: center;
}
.bulkOrders {
  left: 6px;
}
.carbonmapIcon,
.healthiconsfruitsOutline {
  position: absolute;
  top: 5px;
  left: 11px;
  width: 38px;
  height: 38px;
  overflow: hidden;
}
.carbonmapIcon {
  top: 8px;
  left: 17px;
  width: 26px;
  height: 26px;
}
.groupParent {
  position: absolute;
  height: 74.35%;
  width: 60%;
  top: 15.21%;
  right: 20%;
  bottom: 10.44%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.farmjointLogo2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 9.25%;
  width: 83.5%;
  top: 0.88%;
  right: 8.5%;
  bottom: 89.88%;
  left: 8%;
  background-image: url(/public/farmjointlogo2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.logisticsStorage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 800px;
}
.transLogistic {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 800px;

  color: var(--color-white);
}

@media screen and (max-width: 1200px) {
  .footerInner {
    display: flex;
  }
}
