.frameChild {
  position: absolute;
  top: 0;
  left: 94px;
  background-color: var(--color-whitesmoke-100);
  width: 1340px;
  height: 900px;
}

.rectangleParent {
  position: absolute;
  top: 101px;
  left: 7px;
  width: 1433px;
  height: 800px;
  overflow-y: auto;
}
.storageDashboardFacility {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-500);
}
