@import url("https://fonts.googleapis.com/css2?family=Ek+Mukta:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-ek-mukta: "Ek Mukta";
  --font-fascinate: Fascinate;
  --font-montserrat: Montserrat;
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-smi: 13px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-xs: 12px;
  --font-size-4xl: 23px;
  --font-size-lg: 18px;
  --font-size-6xl: 25px;
  --font-size-21xl: 40px;
  --font-size-11xl: 30px;
  --font-size-16xl: 35px;
  --font-size-sm: 14px;
  --font-size-15xl: 34px;
  --font-size-7xl: 26px;
  --font-size-3xl: 22px;
  --font-size-mid: 17px;
  --font-size-31xl: 50px;

  /* Colors */
  --color-whitesmoke-100: #f8f8f8;
  --color-whitesmoke-200: #f5f5f5;
  --color-whitesmoke-300: #f2f2f2;
  --color-whitesmoke-400: #eee;
  --color-whitesmoke-500: #ececec;
  --color-white: #fff;
  --color-sandybrown: #f99145;
  --color-darkslategray-100: #393939;
  --color-darkslategray-200: #313131;
  --color-darkslategray-300: #2f2f2f;
  --color-darkslategray-400: #0a472e;
  --color-seagreen: #218061;
  --color-silver-100: #bebebe;
  --color-silver-200: #bdbdbd;
  --color-silver-300: #b9b9b9;
  --color-olivedrab: #89aa2b;
  --color-lightgray-100: #d3d3d3;
  --color-lightgray-200: #cfcfcf;
  --color-gainsboro-300: #dedede;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-crimson: #ff485e;
  --color-black: #000;
  --color-papayawhip: #fdf1d7;
  --color-dimgray-100: #656565;
  --color-dimgray-400: #555;
  --color-dimgray-200: #545454;
  --color-dimgray-500: #515151;
  --color-dimgray-300: #505050;
  --color-gray-100: #8d8d8d;
  --color-gray-500: #7b7b7b;
  --color-gray-200: #282828;
  --color-gray-600: #202020;
  --color-gray-300: #1f1f1f;
  --color-gray-700: #1a1a1a;
  --color-gray-800: #101010;
  --color-gray-400: rgba(255, 255, 255, 0.15);
  --color-yellowgreen-100: #bedf12;
  --color-yellowgreen-200: #a8b324;
  --color-mediumslateblue: #4440da;
  --color-darkgray-100: #b4b4b4;
  --color-darkgray-300: #a9a9a9;
  --color-darkgray-200: #9d9d9d;
  --color-khaki: #ffdb7e;

  /* Gaps */
  --gap-29xl: 48px;

  /* Paddings */
  --padding-8xl: 27px;

  /* border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-21xl: 40px;
  --br-11xl: 30px;
  --br-10xs: 3px;
}
